* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e293b;
  background-attachment: fixed;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
  text-align: center;
  color: #4ade80;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 35%;
  grid-gap: 5px;
  margin: 0 auto;
  background-color: #475569;
}

.cell {
  width: 100%;
  height: 8rem;
  background-color: #94a3b8;
}

.o {
  background-image: url(./util/o.svg);
}

.x {
  background-image: url(./util/o.svg);
}

.o,
.x {
  background-repeat: no-repeat;
  background-position: center;
}

/* .hidden {
  background-image: none;
} */
